<div class="splash-container">
  <div class="splash-content">
    <div class="logo-animation">
      <div class="karma-lite-logo">
        <span class="letter k">K</span>
        <span class="letter a">A</span>
        <span class="letter r">R</span>
        <span class="letter m">M</span>
        <span class="letter a2">A</span>
        <span class="letter l">L</span>
        <span class="letter i">I</span>
        <span class="letter t">T</span>
        <span class="letter e">E</span>
      </div>
    </div>
    <div class="loading-bar">
      <div class="progress"></div>
    </div>
  </div>
</div>
