<div class="layout-container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="toolbar-title">KARMALITE Admin</span>

    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-button">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpen" class="sidenav">
      <div class="sidenav-content">
        <mat-nav-list>
          <a mat-list-item *ngFor="let item of menuItems"
             [routerLink]="item.children ? null : item.route"
             routerLinkActive="active"
             (click)="item.children && (item.name === 'Marketing' ? toggleMarketingMenu() : null)">
            <mat-icon matListIcon>{{item.icon}}</mat-icon>
            <span matLine>{{item.name}}</span>
            <mat-icon *ngIf="item.children" class="expand-icon">
              {{(item.name === 'Marketing' && marketingMenuOpen) ? 'expand_less' : 'expand_more'}}
            </mat-icon>
          </a>

          <!-- Submenú de Marketing -->
          <div *ngIf="marketingMenuOpen" class="submenu">
            <a mat-list-item *ngFor="let child of menuItems[4].children"
               [routerLink]="child.route"
               routerLinkActive="active">
              <span matLine>{{child.name}}</span>
            </a>
          </div>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
